/* Sets the background colour to grey */
body {
    background-color: rgb(50, 56, 65);
}

/* Sets text to be white */
#whiteText
{
    color: white;
    text-align:center;
}

/* Sets text to be background colour */
#hiddenText
{
    opacity: 0;
}

/* Sets text to be white */
#currentlyPlaying
{
    color: white;
    text-align:center;
}


/* Makes the canvas be centered */
canvas
{
    display: block;
    margin: 0 auto;
}

/* Adjusts how far buttons are apart & they're in middle */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

/* Button settings */
button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Adjusts the colour of the button when you hover over it */
button:hover {
    background-color: cyan;
}

/* Slider settings */
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    width: 300px;
    color: white;
}

/* Adjusts the slider background */
.slider {
    width: 150px;
    height: 6px;
    background: white;
    outline: none;
    appearance: none;
    appearance: none;
    border-radius: 3px;
}

/* .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: cyan;
    cursor: pointer;
    border-radius: 50%;
    border: none;
} */